<ul class="breadcrumb">
  <li>Listing People</li>
</ul>
<div class="sidebar">
  <div class="notice">
    <h4>Status</h4>
    <%= render 'status' %>
    <h4>Description</h4>
    <p>Find automaticaly informations from public linkedIn profiles and Paperjam careers section.</p>
    <h4>Next</h4>
    <p>Detects each update and send weekly alerts by email.</p>
    <p>Follow latest updates with your favorite RSS Reader</i>.
  </div>
</div>
<div class="content">
  <div class="block">
    <h1>
      Listing People
      <% unless @people.empty? %>
        <span class="right"><%= link_to 'Export', export_people_csv_url(), 'data-skip-pjax' => true, :class => 'btn primary' %>&nbsp;&nbsp;<%= link_to_function 'Upload People', "$('#upload-form').slideDown()", :class => 'btn primary' %>&nbsp;&nbsp;<%= link_to 'New Person', new_person_path, :class => 'btn primary' %></span>
      <% end %>
    </h1>
    <div id="upload-form" style="display:none;">
      <%= form_for :person, :url => { :action => "upload_csv" }, :remote => true do |f| %>
        <%= f.label :csv, "CSV File" %>
        <%= f.file_field :csv %>
        <br>
        <%= f.submit 'Upload', :class => 'btn primary small', :id => "submit-upload"%>
        &nbsp;&nbsp;<%= link_to_function 'Cancel', "$('#upload-form').slideUp()" %>
      <% end %>
    </div>
    <% if @people.empty? %>
      <div class="no-data"><p>No Person yet!</p><p><%= link_to_function 'Upload People', "$('#upload-form').slideDown()", :class => 'btn primary large' %>&nbsp;&nbsp;<%= link_to 'New Person', new_person_path, :class => 'btn primary large' %></p></div>
    <% else %>
    <div id="upload-form" style="display:none;">
      <%= form_for :person, :url => { :action => "upload_csv" } do |f| %>
        <%= f.label :csv, "CSV File" %>
        <%= f.file_field :csv %>
        <br>
        <%= f.submit 'Upload', :class => 'btn primary small', :id => "submit-upload"%>
        &nbsp;&nbsp;<%= link_to_function 'Cancel', "$('#upload-form').slideUp()" %>
      <% end %>
    </div>
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Fitstname</th>
          <th>Lastname</th>
          <th>Title</th>
          <th><!--<%= link_to_function 'Refresh All', "refreshAllPeople($('.refresh'), 0)" %>--></th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= link_to person.firstname, edit_person_url(person) %></td>
            <td><%= link_to person.lastname, edit_person_url(person) %></td>
            <td class="title"><%= "#{person.current_title}" %></td>
            <td>              
              <% if person.has_linkedin_profiles? %>
                <%= image_tag 'linkedin.jpg', :class => 'linkedin-icon' %>
              <% end %>
              
              <%= image_tag 'paperjam.jpg', :class => 'paperjam-icon', :style => 'display:none' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @people %>
    <% end %>
  </div>
</div>