<ul class="breadcrumb">
  <li>Listing People</li>
</ul>
<div class="sidebar">
  <div class="notice">
    <h4>Description</h4>
    <p>Follow weekly the job title and the company from there linkedin account</p>
    <h4>Alert</h4>
    <p>If the field <i>e-mail</i> is filled in, an e-mail is sent when the <i>Watcher</i> detects an update on the selected site area. It contains a screenschot of the page with the updates highlighted.</p>
    <h4>RSS</h4>
    <p>An RSS stream is automaticaly created for each <i>Watcher</i>.
  </div>
</div>
<div class="content">
  <div class="block">
    <h1>
      Listing People
      <% unless @people.empty? %>
        <span class="right"><%= link_to_function 'Upload People', "$('#upload-form').slideDown()", :class => 'btn primary' %>&nbsp;&nbsp;<%= link_to 'New Person', new_person_path, :class => 'btn primary' %></span>
      <% end %>
    </h1>
    <div id="upload-form" style="display:none;">
      <%= form_for :person, :url => { :action => "upload_csv" }, :remote => true do |f| %>
        <%= f.label :csv, "CSV File" %>
        <%= f.file_field :csv %>
        <br>
        <%= f.submit 'Upload', :class => 'btn primary small', :id => "submit-upload"%>
        &nbsp;&nbsp;<%= link_to_function 'Cancel', "$('#upload-form').slideUp()" %>
      <% end %>
    </div>
    <% if @people.empty? %>
      <div class="no-data"><p>No Person yet!</p><p><%= link_to_function 'Upload People', "$('#upload-form').slideDown()", :class => 'btn primary large' %>&nbsp;&nbsp;<%= link_to 'New Person', new_person_path, :class => 'btn primary large' %></p></div>
    <% else %>
    <div id="upload-form" style="display:none;">
      <%= form_for :person, :url => { :action => "upload_csv" } do |f| %>
        <%= f.label :csv, "CSV File" %>
        <%= f.file_field :csv %>
        <br>
        <%= f.submit 'Upload', :class => 'btn primary small', :id => "submit-upload"%>
        &nbsp;&nbsp;<%= link_to_function 'Cancel', "$('#upload-form').slideUp()" %>
      <% end %>
    </div>
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Fitstname</th>
          <th>Lastname</th>
          <th>Title</th>
          <th><%= link_to_function 'Refresh All', "refreshAllPeople()" %></th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= link_to person.firstname, edit_person_url(person) %></td>
            <td><%= link_to person.lastname, edit_person_url(person) %></td>
            <td class="title"><%= "#{person.current_title}" %></td>
            <td><img style="display:none" id="spinner" src="/assets/ajax-loader.gif" />
            <%= link_to 'Refresh', refresh_url(person), :class => 'refresh', :remote => true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @people %>
    <% end %>
  </div>
</div>