<nav class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <%= link_to 'Site-Watcher', '/', :class => 'brand' %>
      <ul class="nav">
        <li class="active"><%= link_to 'Dashboard', dashboard_path %></li>
        <li><%= link_to 'menu 2', '' %></li>
      </ul>
      <ul class="nav secondary-nav">
        <li class="dropdown" data-dropdown="dropdown" >
          <a href="#" class="dropdown-toggle">Settings</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Click Me', '' %></li>
            <li class="divider"></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </li>
        <li><%= link_to 'logout', 'logout_path' %></li>
      </ul>
    </div>
  </div>
</nav>