<nav class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <%= link_to 'webwatcherapp.com', '/', :class => 'brand' %>
      <ul class="nav">
        <li class="active"><%= link_to 'Watchers', sites_path %></li>
        <!--<li><%= link_to 'People', '' %></li>
        <li><%= link_to 'Filters', '' %></li>-->
      </ul>
      <ul class="nav secondary-nav">
        <li class="dropdown" data-dropdown="dropdown" >
          <a href="#" class="dropdown-toggle">Settings</a>
          <ul class="dropdown-menu">
            <!--<li><%= link_to 'Application', '' %></li>
            <li class="divider"></li>-->
            <li><%= link_to 'Account', account_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>
    </div>
  </div>
</nav>