<ul class="breadcrumb">
  <li>Dashboard<span class="separator"> / </span></li>
  <li>Site Details</li>
</ul>
<div class="sidebar">
  <div class="notice">
    <h4>Snippets</h4>
    <ul>
      <% @site.snippets.each do |snippet| %>
        <li>
          <input type="checkbox" value="<%= snippet.id %>" /> <%= snippet.created_at %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="notice">
    <h4>Actions</h4>
    <%= link_to 'Delete', @site, confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %>
  </div>
  
</div>
<div class="content">
  <div class="block">
    <p id="notice"><%= notice %></p>
    <h1>
      <%= @site.name %>
    </h1>
    <div id="snippets-selector">    
    <%= form_tag('compare', :format => :json, :remote => true, :id => "compare_it") do %>
      Compare between
      <%= select_tag "selection[first]", options_from_collection_for_select(@site.snippets, "id", "created_at") %>
      and
      <%= select_tag "selection[second]", options_from_collection_for_select(@site.snippets, "id", "created_at") %>
      <%= submit_tag 'compare', :class => 'btn primary'%>
    <% end %>
    </div>

    <div id="compare-result">
    </div>
    <div class="actions">
      <%= link_to 'Delete', @site, confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %>
    </div>
  </div>
</div>
