<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Site-Watcher</title>
    <meta name="description" content="">
    <meta name="author" content="Denis Jacquemin">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :application %>  
    
    
    <%= csrf_meta_tag %>  
  </head>
  <body>
    <div class="container-fluid">
      <%= render :partial => 'shared/topbar'  %>
      <%= render :partial => 'shared/message' %>
      <div data-pjax-container id="data-pjax-container">
        <%= yield %>
      </div>
    </div>
    <%#= render :partial => 'shared/footer' %>
    <script>
      var _gaq=[["_setAccount","UA–29887621–1"],["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>
  </body>
</html>