<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Site-Watcher</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "login" %>
    
    <%= csrf_meta_tag %>  
  </head>
  <body>
        <div id="background-container"><img src="/assets/adolphe1.jpg" id="background" alt="Restaurant_background_01"></div>
    <div id="page-content">
    <div id="center">
    <div>
      <div data-pjax-container id="signin-box">
        <% unless flash[:alert].nil? %>
          <div class="msg">
            <span class="alert"><%= alert %></span>
          </div>
        <% end %>
        <% unless flash[:error].nil? %>
          <div class="msg">
            <span class="error"><%= error %></span>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    </div>
    </div>    
        
    <%= javascript_include_tag :login %>  
    
    <%= javascript_tag do %>
    <% end %>

    <!-- Change UA-XXXXX-X to be your site's ID -->
    <script>
      var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>
  </body>
</html>